In [2]:
#Importing library

import pandas as pd

In [3]:
#Reading the bigmart dataset

data=pd.read_csv('bigmart.csv')

In [4]:
#Checking for the first five rows of the datset using head() function

data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [5]:
data=data.drop('Item_Identifier',axis=1)

In [11]:
#Checking the frequency of all categories in the variable

data['Outlet_Size'].value_counts()

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [12]:
#Missing value Treatment

data['Outlet_Size'].fillna('Medium',inplace=True)

## Label Encoding
#### In Label encoding, each category is assigned a value from 1 through N where N is the number of categories for the category feature.

In [14]:
#Label Encoding four categorical variables

from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

data['Item_Fat_Content_enc']=le.fit_transform(data['Item_Fat_Content'])
data['Item_Type_enc']=le.fit_transform(data['Item_Type'])
data['Outlet_Size_enc']=le.fit_transform(data['Outlet_Size'])
data['Outlet_Type_enc']=le.fit_transform(data['Outlet_Type'])

In [15]:
data.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Item_Fat_Content_enc,Item_Type_enc,Outlet_Size_enc,Outlet_Type_enc
0,9.30,1,0.016047,4,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,1,4,1,1
1,5.92,2,0.019278,14,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228,2,14,1,2
2,17.50,1,0.016760,10,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700,1,10,1,1
3,19.20,2,0.000000,6,182.0950,OUT010,1998,Medium,Tier 3,Grocery Store,732.3800,2,6,1,0
4,8.93,1,0.000000,9,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,1,9,0,1