In [1]:
import pandas as pd
import numpy as np
import datetime

In [3]:
time_series = pd.date_range('1/1/2020', periods=15)
df = pd.DataFrame({'date': time_series})
df

         date
0  2020-01-01
1  2020-01-02
2  2020-01-03
3  2020-01-04
4  2020-01-05
5  2020-01-06
6  2020-01-07
7  2020-01-08
8  2020-01-09
9  2020-01-10
10 2020-01-11
11 2020-01-12
12 2020-01-13
13 2020-01-14
14 2020-01-15

In [4]:
df['date'] = pd.to_datetime(df['date'])
df

         date
0  2020-01-01
1  2020-01-02
2  2020-01-03
3  2020-01-04
4  2020-01-05
5  2020-01-06
6  2020-01-07
7  2020-01-08
8  2020-01-09
9  2020-01-10
10 2020-01-11
11 2020-01-12
12 2020-01-13
13 2020-01-14
14 2020-01-15

In [5]:
df.columns

Index(['date'], dtype='object')

In [6]:
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day

In [7]:
df

         date  year  month  day
0  2020-01-01  2020      1    1
1  2020-01-02  2020      1    2
2  2020-01-03  2020      1    3
3  2020-01-04  2020      1    4
4  2020-01-05  2020      1    5
5  2020-01-06  2020      1    6
6  2020-01-07  2020      1    7
7  2020-01-08  2020      1    8
8  2020-01-09  2020      1    9
9  2020-01-10  2020      1   10
10 2020-01-11  2020      1   11
11 2020-01-12  2020      1   12
12 2020-01-13  2020      1   13
13 2020-01-14  2020      1   14
14 2020-01-15  2020      1   15